<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="automate.quickstart.EditProfile"></class>
      <class name="automate.quickstart.Logout"/>
      <class name="automate.quickstart.Login"/><class name="automate.quickstart.Wallet"></class>
      <class name="automate.quickstart.Registration"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
